<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let’s Build Something Awesome</h2>
                <hr class="light">
                <p class="text-faded">
                    Hi! I am Chris, a passionate developer who loves to create clean, interactive, and beautiful web experiences for users from a concept. Whether it is a completely new build or an existing build I still enjoy creating solutions with the end user in mind and delivered perfectly! 
                    Let's build something great together!
                </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Behind the Build</a>
            </div>
        </div>
    </div>
</section>
